$color-main-bg: rgb(22, 22, 26);
$color-button-bg: rgb(127, 90, 240);
$color-border: rgb(1, 1, 1);

$color-text-heading: rgb(255, 255, 254);
$color-text-button: rgb(255, 255, 254);
$color-text-regular: rgb(148, 161, 178);
