@import "colors";
@import "reset";

input,
button {
    appearance: none;
    -webkit-appearance: none;
    font-size: 1em;
}

html {
    background-color: $color-main-bg;
    color: $color-text-regular;
    font-family: "Netflix Sans";
    color: white;
}

a {
    color: white;
}
//set NODE_OPTIONS=--openssl-legacy-provider

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 2.3em;
    font-size: 1em;
    line-height: 1.7;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid rgb(59, 57, 57);
    background: rgb(185, 185, 185);
    border-radius: 0.2em;
    -webkit-transition: all 0.275s;
    transition: all 0.275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: "✓";
    position: absolute;
    top: 0.525em;
    left: 0.18em;
    font-size: 1.375em;
    color: black;
    line-height: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0) rotate(45deg);
    transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #e9e9e9;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #777;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 12.5rem;
}

@media screen and (max-width: 31.25em) {
    body {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 124em) {
    body {
        font-size: 1.25em;
    }
    .logo{
        max-width: 15rem;
    }
}

@media screen and (min-width: 150em) {
    body {
        font-size: 1.25em;
    }
}
